
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /*when menu items clicked, page smoothly scrolls to linked area*/
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px; /* Not sure this is needed*/
    line-height: 1.42857143;
    color: #333;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

/*------------ Navigation Menu ------------*/
nav {
    background-color: rgb(28, 19, 61);
    position: fixed; /* Keeps nav bar on page all the time*/
    top: 0; /* makes nav bar be at the very top with no gap. */
    width: 100%; /* makes nav bar full screen width*/
    z-index: 1; /* I was having an issue where the header text was moving overtop of the nav bar.
     This sets the nav bar as the topmost layer whhen there are two things in the same position. */
    padding: 20px; 
}

nav ul {
    list-style-type: none; /*turns off bullet points*/
    text-align: center; /* centers menu buttons in menu bar*/
}

nav li {
    display: inline-block; /* makes list go horizontal */
    border: rgb(85, 85, 85); /* sets border color */
    border-style: solid; /* sets border line style */
    border-width: 1px;
    padding: 10px 20px; /* sets space between border box and the words inside it */
    margin: 5px; /* adds space between boxes */
}

nav li:hover {
    background-color: #393f4d;
}

nav a {
    color:whitesmoke;
    text-decoration: none; /* turns off link underline*/
    font-size: 1.2rem;
}

.active {
    color: lime; 
  }

/* ---------------- Header General---------------------*/
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

header img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-9px) scale(2);
}

/*-------------------Top Header-----------------------------*/
.title {
    font-size: 7rem;
    color: white;
    text-shadow: 0 0 5px black;
}

/*-------------------Header Specific Heights-----------------------------*/


#titleheader {
    height: 650px;
}

#header2 {
    height: 550px; 
}

#header3 {
    height: 675px; 
}

/* ----------------Content starts---------------------*/
    /* the class "content" holds the two sections 
    within main that are not headers */
.content {
    background-color: rgb(28, 19, 61);
    padding-top: 50px;
    padding-bottom: 50px;
}

/* ----------------Card groups---------------------*/

.cards { 
    padding: 2rem;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto; /* keeps cards centered */
    margin-left: auto;  /* keeps cards centered */
}

#group1 {
    grid-template-columns: 1fr 1fr 1fr;
}

#group2 {
    grid-template-columns: 1fr 1fr;
}

#group3 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards article  {
    background-color: #F2F2F2;
}

.card img {
    object-fit:contain;
    width:100%;
}

.card h2 {
    padding-top: 1rem;
    padding-left: 0.75rem; 
}

.card p {
    font-size: 1rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    padding: 1rem .75rem; 
}

.card button {
    width: 130px;
    padding: 10px;
    margin-left: 10px;
    font-size:medium;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #e2e2e2;
    background-color: white;
}

button:hover {
    background-color: #e2e2e2
}

article.cardwords {
    padding: 10px;
}

/*---------------------------- Contact form -------------------------- */

.contact_container {
    max-width: 750px; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.62);
    padding: 20px;
    color: #F2F2F2;
}

#contact_form_p_text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-table {
    display: grid;
    grid-template-areas: 'name message message message'
                        'email message message message'
                        'subject message message message';
    gap: 5px;                    
}

#name {grid-area: name;}
#email {grid-area: email;}
#subject {grid-area: subject;}
#message {grid-area: message;}

.input-field {
    padding: 5px;
    margin: 2px;
}

#message {
    padding-left: 5px;
    margin:2px;
    padding-bottom: 70px;
    padding-top: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

/*------------------ Footer ------------------- */
footer {
    background-color: rgb(28, 19, 61);
    color: whitesmoke;
    padding: 2vh;
    padding-left: 5vh;
    text-align: left;
    height: 8rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}

/*------------------Screen sizing and card placement------------------- */

/* @media (min-width: 1200px) {
    .cards {
        width: 1170px;
    }
} */

/* @media (min-width: 992px) {
    .cards {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .cards {
        width: 750px;
    }
} */
/* @media screen and (max-width:600px){
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
} */

/* @media screen  and (max-width:650px) {
    #group1 {
        grid-template-columns: 1fr;
    } */
    /* #group2 {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    } */
/* }   */